/* Other rules */

body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

h2 {
  margin: 10px auto;
  font-size: 20px;
  font-weight: bold;
}

span {
  margin: auto 10px;
}

.container {
  width: 80vw;
  max-width: 800px;
  margin: 15px auto;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 5555;
  display: flex;
  line-height: 22px;
  padding: 8px;
  padding-left: 8%;
  align-items: center;
  border-bottom: #ff6d00 1px solid;
  background-color: #3e1f47;
  color: white;
}

.logo {
  font-size: 40px;
  margin-right: 20px;
  color: #ff6d00;
}

/* Tasks Styles */
.tasks {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.completed-tasks {
  background-color: #06d6a0;
  padding: 10px;
  width: 48%;
  box-sizing: border-box;
  border-radius: 10px;
}

.todo {
  background-color: #d5dfe5;
  padding: 10px;
  width: 48%;
  box-sizing: border-box;
  border-radius: 10px;
}

.done {
  text-decoration: line-through;
}

.addtask {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  background-color: #023047;
  margin-left: 20px;
  border-radius: 8px;
  color: white;
  line-height: 20px;
  font-size: 16px;
  padding: 5px 35px;
}

.task-input {
  min-width: 25vw;
  padding-left: 10px;
  border-radius: 8px;
  line-height: 30px;
  font-size: 16px;
}

.footer {
  border-top: lightgray 1px solid;
  background-color: white;
  color: #3d405b;
  width: 100vw;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  position: fixed;
  bottom: 0;
}

a {
  text-decoration: none;
  color: #3d405b;
}

@media (max-width: 500px) {
  .tasks,
  .footer {
    font-size: 12px;
  }

  h2 {
    margin: 5px auto;
    font-size: 12px;
    font-weight: bold;
  }

  .task-input {
    width: 80vw;
    padding-left: 5px;
    border-radius: 8px;
    line-height: 1rem;
    font-size: 1rem;
  }

  .addtask {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  button {
    background-color: #023047;
    margin: 10px auto;
    border-radius: 8px;
    color: white;
    line-height: 20px;
    font-size: 1rem;
    padding: 5px 35px;
    justify-self: centre;
  }
}
